@mixin flex-space-between() {
	display: flex;
	justify-content: space-between;
	}
@mixin btn() {
	margin-top: 40px;
	padding: 20px 30px;
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid transparent;
	width: 225px; 
	height: 65px;
	font: 400 16px/1 text-ff;
	color: $accent-color;
	letter-spacing: 1.2px;
	text-align: center;
	background: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
	cursor: pointer;
}
@mixin btn-h-f-a() {
	border: 0;
	background: linear-gradient(45deg, #5474fd 0%, #0355a7 40%, #1772cd 40%, #badafa 90%);
	// background: linear-gradient(45deg, #5474fd 0%, #ffffff 25%, #0a3fff 50%, #ffffff 75%, #496bfe 100%);
				-webkit-transition: all .25s ease;
	   			   -moz-transition: all .25s ease;
	    			-ms-transition: all .25s ease;
	     			 -o-transition: all .25s ease;
	        			transition: all .25s ease;
}

@mixin transition() {
		-webkit-transition: all .25s ease;
     	   -moz-transition: all .25s ease;
      		 -o-transition: all .25s ease;
      		-ms-transition: all .25s ease;
          		transition: all .25s ease;
	
}
@mixin transform-panel() {
	
		-webkit-transform: scale(1.3);
		   -moz-transform: scale(1.3);
		    -ms-transform: scale(1.3);
		     -o-transform: scale(1.3);
		        transform: scale(1.3);
}