@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');

@font-face {
	font-family: "Aleo Regular";
	src: url('../fonts/Aleo-Regular.otf');
}	

$text-color: #e8e8e8;
$accent-color: #ffffff;
$secondary-color: #ff6363;
$backgr-color: #333333;
$title-ff: 'Josefin Sans', Arial, sans-serif;
$text-ff: "Aleo Regular", Arial, sans-serif;
