@import './node_modules/normalize.scss/normalize';
@import 'mixins';
@import 'vars';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
// @import url(http://allfont.ru/allfont.css?fonts=aleo-regular);
@font-face {
	font-family: "Aleo Regular";
	src: url('../fonts/Aleo-Regular.otf');
}	
// @font-face  {
// 	font-family: "awesome";
// 	src: url('../fonts/font-awesome-4.7.0/fonts');
// }


* {
	box-sizing: border-box;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: #ff6363;
	text-shadow: 1px 1px 5px #fff;
}

html, body {
	width: 100%;
	font: 400 16px/1.4 $title-ff;
	margin: 0 auto;
	
}

// body {
// 	font: 400 16px/1.4 $title-ff;
// 	margin: 0 auto;
// }

.header {
	padding: 200px 0 0 0;
	text-align: center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $accent-color;
		&__title {
		font: 700 48px/1.2 700 $title-ff;
		text-transform: uppercase;
		letter-spacing: 4px;
	}	
		&__subtitle {
		margin-top: 0;
		font-size: 22px;
		margin-bottom: 55px;
	}
	}
.container {
	width: 1135px;
	margin: 0 auto;
	 
	&__block {
	padding-top: 120px;
	@include flex-space-between();
	}
	&__panel {
		width: 1135px;
		@include flex-space-between();
	}
	&__content {
	padding: 135px 0 100px 0;
	width: 1135px;
		
	// font: 400 16px/1.6 title-ff;
	// color: $text-color;
	&--right {
		 width: 1135px;
		
		.flex {
			width: 550px;
			margin-left: 550px;
			
		}
	}
}
.block {	
	&__desc {
	overflow: hidden;
	text-align: left;
	width: 480px;
	height: 505px;
	margin: 45px 25px 0px 0px;
	// font: 400 16px/1.6 title-ff;
	color: $text-color;
	}
	&__title {
	font: 400 36px/1.6 title-ff;
	color: $text-color;
	}
	&__text {
	// font: 400 16px/1.6 title-ff;
	color: $accent-color;
	}
	&__button {
	@include btn();
			&:hover,
			&:focus,
			&:active {
				@include btn-h-f-a();
				color: $secondary-color;
				text-shadow: 2px 2px 4px #fff;
		}
	}

	&__card {
		width: 465px;
		height: 505px;
		// position: relative;
	}
	&__img-link {
		text-decoration: none;
		width: 355px;
		height: 225px;
		position: relative;
		display: block;
		@include transition();
		&:hover,
		&:focus,
		&:active {
				z-index: 10;
		    -ms-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		   -moz-transform: scale(1.5);
		     -o-transform: scale(1.5);
		        transform: scale(1.5);
			box-shadow: 0 0px 20px 10px rgba(47, 42, 39, 2);

		}
  }
	&__img-link--top {
		top: -30px;
		left: -10px;
	}
	&__img-link--bottom {
		top: -25px;
		left: 100px;
	}
	&__img-image {
		min-width: 100%;
		min-height: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
 }
}

.content  {

&__desc {
	width: 550px;
	background: rgba(51, 51, 51, 0.9);
	padding: 50px 35px  50px 35px;
	overflow: hidden;
	text-align: left;
	// font: 400 16px/1.6 title-ff;
	color: $text-color;
	}
	&__subtitle {
	font: 400 26px/1.4 title-ff;
	// color: $text-color;
	}
	&__title {
		font: 400 26px/1.4 title-ff;
		text-transform: uppercase;
	}
	&__text {
		line-height: 2;
	}
	&__button {
		@include btn();
			&:hover,
			&:focus,
			&:active {
				@include btn-h-f-a();
				color: $secondary-color;
				text-shadow: 2px 2px 4px #fff;}
	}

	}

.search {
	&__form {
		display: inline-block;
		position: relative;
		margin-bottom: 100px;}
	&__input {
		padding: 0;
		text-indent: 150px;
		height: 60px;
		width: 655px;
		letter-spacing: 2px;
		border: none;
		background: #ffffff;
		font: 300 14px/1.4 title-ff;
		color: #999999;
		border: none;
		border-style: none;
		outline: none;
		-moz-outline-style: 0;
			&:hover,
			&:focus,
			&:active {
			opacity: .5;
		}}
	&__submit {
		position: absolute; 
		top: 1px; 
		right: 2px;
		width: 145px;
		height: 58px;
		overflow: hidden;
		text-transform: uppercase;
		background: #5474fd;
		&:hover,
		&:focus,
		&:active {
			@include btn-h-f-a();
		}
	}
	&__text {
		font-size: 14px;
	}
	&__svg {
		position: absolute;
		top: 30%;
		left: 70%;
		height: 22px;
		width: 22px;
		margin-left: 10px;
		@include transition();
		&:hover,
		&:focus,
		&:active {
		   -moz-transform: scale(1.5);
		    -ms-transform: scale(1.5);
		-webkit-transform: scale(1.5);
		     -o-transform: scale(1.5);
		        transform: scale(1.5);
	}
	}
}

.header__scroll
 {
	margin-bottom: 130px;
	@include transition();
	&:hover,
	&:focus,
	&:active {
		opacity: .5;
		cursor: pointer;
		   -moz-transform: scale(0.9);
		    -ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		     -o-transform: scale(0.9);
		        transform: scale(0.9);
	}
}
.text__scroll {
	font-size: 14px;
	margin-bottom: 0;
	letter-spacing: 2px;
}
.navbar {
	background: #5474fd;
	text-transform: uppercase;
	
	&__centr {
	width: 1135px;
	margin: 0 auto;
	align-items: center;
	@include flex-space-between();
	overflow-x: auto;
	}

	&__logo {
		padding-right: 450px;
		font: 700 24px/1.4 title-ff;
		color: #fff;
 		letter-spacing: 2px;
	}
	&__nav {
		padding-top: 30px;
		width: 100%;
		height: 80px;
		font-size: 0;
		margin: 0;
	}
	&__nav-item {
		display: inline-block;
	 	margin-left: 30px;

	}
	&__nav-link {
		 font: 14px/1.4 text-ff;
		 color: $accent-color;
		 &:hover,
		 &:focus,
		 &:active {
		 	color: $secondary-color;
		 }
	}
}		

.section {
	background-size: cover;
	background-repeat: no-repeat;
	&__block {
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0 0 0;
	}	
	&__content {
	padding: 130px 0 100px 0;
	// background-size: cover;
	// background-repeat: no-repeat;
	
	 }
	&__centr-cont {
	text-align: center;
	background-position: center;
	// background-size: cover;
	// background-repeat: no-repeat;
	color: #ffffff;
	overflow: hidden;
	padding: 100px 0 0 0;

	}

}
.panel {	
	position: relative;
	background-color: $backgr-color;
	text-align: center;
	padding: 0 0 15px 0;
	&__menu-item {
		min-height: 100px;
		display: inline-block;	
	}
	
	&__menu-link {
		font: 26px/1.4 $text-ff;
		color: $panel-color;		
	}
	&__link-pos {
		margin-left: 0; /* Отступ слева в браузере IE и Opera */
 		padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
	}
	&__link {
		list-style-type: none;
		position: absolute;
		z-index: 8;
		@include transition();
			&:hover,
			&:focus,
			&:active {
			 	color: $secondary-color;
			}

		&--svg {
		margin-left: 46px;
		}
		&--text {
		font: 26px/1.4 $text-ff;
		color: $panel-color;
		margin-top: 65px;
		}		
	}
	&__menu-left, &__menu-centr, &__menu-right {
		width: 190px;
		height: 100px;
		position: absolute;
		z-index: 9;
	 	top: 150px;
		transform: translate(-50%, -50%);
		margin-left: 0; /* Отступ слева в браузере IE и Opera */
 		padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */

	}
	&__menu-left {
	left: 30%;
	}
	&__menu-centr {
	left: 51%;
	}
	&__menu-right {
	left: 73%;
	}
}

.line {
	text-align: center;
	padding-top: 45px;
	// z-index: 3;
	// position: relative;
}
.search-p {
  	fill: #5474fd;
  }
  .select {
	fill: #ff6363;	
  }

  .book {
	fill: #00a2ff;
  }
.search-p, .select, .book {
	padding: 10px;
	margin-bottom: 20px;
  	background-color: $backgr-color;
  	transition: color 5s ease-out;
  	@include transition();
  	&:hover,
			&:focus,
			&:active {
				fill: currentColor;
				cursor: pointer; 
			@include transform-panel();	
			}
  }
  

.footer {
	min-width: 100%;
	padding: 115px 0 50px;
	text-align: center;
	background-color: #333333;
	background-size: cover;
	color: $accent-color;
	&__title {
		text-transform: uppercase;
		font: 700 24px/1.4 $title-ff;
		letter-spacing: 5px;
	}
	&__subtitle {
		font: 300 16px/1.2 $title-ff;
		letter-spacing: 2px;
		}	
	}
.socials {
		margin: 35px;
	&__items {
		padding: 0;
		margin: 0;
	}
	&__item {
		display: inline-block;
		&:not(:last-of-type) {
			margin-right: 25px;
		}
	}
	&__link {
		outline: none;
	}
	&__icon {
		&:hover,
		&:focus,
		&:active,
		&.active
		 {
			color: #5474fd;

		}
	}
}
.fa-quote-left {
	color: #5474fd;
}



